.bookCard {
  background-color: #4a473f;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 300px; /* Adjust width to be responsive */
  max-width: 360px; /* Limit maximum width */
  height: 400px; /* Allow height to adjust */
  aspect-ratio: 4 / 5; /* Maintain aspect ratio */
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.bookCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 80%; /* Make image responsive */
  max-width: 250px; /* Limit maximum width */
  height: 250px; /* Maintain aspect ratio */
  display: block;
  padding-top: 0px;
  align-content: center;
}

.title {
  font-size: 1.15rem; /* Use relative font size */
  color: #f8c080;
  font-family: "Serif";
  font-weight: 500;
}
.date {
  padding: 0.1rem; /* Reduce padding */
  font-size: 1rem; /* Use relative font size */
  color: #f8c080;
  font-family: "Serif";
  font-weight: 400;
  margin-top: 0.25rem; /* Reduce spacing below the title */
}
.authors {
  font-size: 1rem; /* Use relative font size */
  color: #f8c080;
  font-family: "Serif";
  font-weight: 400;
  margin-top: 0.25rem; /* Reduce spacing below the date */
  text-align: center; /* Center align the text */
  line-height: 1.25; /* Reduce line height for tighter spacing */
}
.likeButton,
.likedButton {
  position: absolute; /* Use absolute positioning */
  top: 1rem; /* Position near the top */
  right: 1rem; /* Position near the right */
  color: #f8c080;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 2.5rem; /* Use relative units */
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.likedButton {
  z-index: 10;
  opacity: 1;
  background-color: rgb(171, 53, 53);
  color: aliceblue;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .image {
    width: 60%; /* Shrink image for smaller screens */
    max-width: 150px; /* Reduce maximum width */
  }

  .likeButton,
  .likedButton {
    width: 2rem; /* Shrink button size */
    height: 2rem;
    font-size: 1.25rem; /* Adjust font size */
  }
}
