.bookCard {
  background-color: #4a473f; /* Light background color */
  border-radius: 12px; /* Rounded edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Ensures content stays within rounded edges */
  text-align: center; /* Center-align text */
  width: 360px; /* Increased width */
  height: 450px;
  margin: 24px auto; /* Adjusted margin for spacing */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.image {
  width: 250px; /* Make image responsive */
  height: 300px; /* Maintain aspect ratio */
  display: block; /* Remove inline spacing */
  padding-top: 10px;
  align-content: center;
}

.title {
  padding: 20px; /* Increased spacing around text */
  font-size: 20px; /* Increased font size */
  color: #f8c080; /* White text color */
  font-family: "Serif"; /* Updated font family */
  font-weight: 500; /* Adjusted font weight */
}
