.inputfield {
  position: relative;
  width: 50%; /* Make the input field long */
  margin: 0 auto; /* Center horizontally */
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 80px;
  display: block; /* Changed to block for proper centering */
  text-align: center; /* Align text inside the input field to the center */
}

.searchButton {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(
    -50%,
    -50%
  ); /* Center both vertically and horizontally */
  margin-top: 0;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center; /* Align text inside the button to the center */
}

.wishluckbutton {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(
    -50%,
    -50%
  ); /* Center both vertically and horizontally */
  margin-top: 0;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center; /* Align text inside the button to the center */
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr); /* Ensure only 2 objects per line */
  gap: 0.5rem; /* Reduced gap to make the grid layout appear slimmer */
  padding: 0.5rem; /* Reduced padding for a slimmer appearance */
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px; /* Increased to push the grid content further down by 20px */
  align-self: center;
}
